.list-group{
  display:flex; 
  flex-direction: row;
  justify-content:space-around;  
}

a  {
  color: dimgray;
  text-decoration:none;
  font-size: 0.85rem;
  text-transform: uppercase;  
  font-weight:500;
}
