#hero-section {
  min-height: 90vh;
  padding: 40px;
}

.hero-header {
  max-width:600px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1.8;
}

.hero-thumbnail {
  margin: auto;
  margin-right: 0;  
  width : 80%; 
}

.hero-header .hero-title {
  line-height: 140%;
  font-size: clamp(2rem, 3vw, 3.5rem);
  text-transform: uppercase;
}

.hero-header .hero-title span {
  text-transform: capitalize;
  font-weight: 500;
}

.hero-header .hero-body {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #9c9c9c;
  line-height: 140%;
}

.hero-header .btn {
  width: fit-content;
  overflow: hidden;
  text-transform: uppercase;
}

.hero-thumbnail img {
  object-fit: cover;
  width: 100%;
}

/* ============= POPULAR PRODUCTS ================= */
#popular-products {    
  padding : 40px;
  min-height: 100vh;  
}

.section-title{    
  line-height:50px;
  text-align: left;
}

.section-title span{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #0074d9;
  font-size: 0.75rem;
  font-weight:bold;
}

.categories {      
  margin:  60px auto;
  max-width: 800px; 
}

.product-list {  
  margin-top : 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;  
}



/* ============= RESPONSIVE ================= */
@media screen and (min-width: 658px) {
  .hero-header .hero-body {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .hero-header .hero-body {
    width: clamp(45ch, 50%, 75ch);
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
  }
}
